[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"
coverage = "*"

[packages]
ipython = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyter = "*"
rpyc = "*"
landslide = "*"
pudb = "*"
pytest = "*"
flamegraph = {git = "https://github.com/evanhempel/python-flamegraph.git"}
pyprof2calltree = "*"
gevent = "*"
altair = "*"
pandas = "*"
pyqt5 = "*"
coverage = "*"
cookiecutter = "*"

[requires]
python_version = "3.7"
